.feature {
    background-color: $lightGrayishBlue;
    text-align: center;
    padding-bottom: 7rem;

    @include breakpoint-up(medium){
        text-align: left;
    }

    &__content {
        font-size: $font-sm;
        padding-top: 7rem;
       

        @include breakpoint-up(large){
            font-size: $font-lg;
            padding-top: 10rem;
        }  
    }

    &__intro {

        @include breakpoint-up(large){
            margin-bottom: 5rem;
            width: 60%;
        }  
    }

    &__grid {

        @include breakpoint-up(medium){
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        padding: 2rem 2.4rem;
        text-align: center;

        @include breakpoint-up(medium){
            flex: 0 0 50%;
            text-align: left;
        }

        @include breakpoint-up(large){
           flex: 1;
           padding: 0rem 2.4rem;
        }

    }

    &__icon {
        margin-bottom: 2.25rem;

        @include breakpoint-up(large){
            margin-bottom: 3rem;
        }
    }

    &__title {
        margin-bottom: 2rem;

        
        @include breakpoint-up(large){
            margin-bottom: 2.5rem;
        }
    }
}
